*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
} 
body{
   background-color:  #eeeeee;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

nav{
    color: #42288F;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 200;
    position: sticky;
    background-color: #0e0220;
    font-size: 40px;
    text-transform: uppercase;
    padding: 20px;

}
h1{
    margin-right: 600px;
    display: flex;
    align-items: center;
}
nav a{
    color: #42288F;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}
.borde1{
    border: 10px solid rgb(31, 28, 24); 
}
nav a:hover{
    color: aliceblue;
    transition: all 0.3s;
    border-radius:30px ;
    background-color: #42288F;
} 
ul{
    display: inline-block;
    align-items: start;
}

.bienvenidos{    
    
    width: 100%;
    height: 1000px;
    background-size: cover;   
    color: white;
    font-size: 30px;
    text-align: justify;      
}
.fotos{
    max-height: 50rem;
}
.logo{
    height: 70px;
    width: auto;
    align-items: start;
    border-radius: 30px;
}

.formulario{
    color: aliceblue;
    text-transform: uppercase;
    background-color:#eeeeee;
    width: 500px;
    height: auto;
    margin: 0% auto;
    font-size: 30px;
}

.titulo-form{
    text-align: center;
    background-color: gray;
}
.footer{
    background-color: white;
}
hr{
    border: 4px solid black;
}
.h3-footer{
    font-size: 30px;
    margin: 10px;
}
                               /*musculacion*/
.presentacion-musculacion{
    padding:10px;
    color: #393E46;
    font-size: 20px;
    background-color: #eeeeee;
    box-shadow:0px 10px 15px ;
}
.titulo1{
    color: black;
    text-align: center;
    background-color: aliceblue;
    font-size: 30px;


}
.press-banca{
    background-color: aliceblue;
}
.videos{
    position: relative;
   right: -700px;
}
.txt-press{
    color: black;
    font-size: 20px;
    padding: 20px;
}
.press-inclinado{ 
    background-color: aliceblue;
}
.txt-inclinado{
    color: black;  
}
.cruces{  
    background-color: aliceblue;
}
.txt-cruces{
    color: black;
}

                                    /* suplementos*/
.presentacion-suplementos {
    padding:10px;
    color: #393E46;
    font-size: 25px;
    background-color: #eeeeee;
    box-shadow: 0px 10px 15px;
}
.titulo2{
    text-align: center;
    color: #5a37c3;
    padding: 10px;
}
.txt-{
    margin: 20px;
}
.contenedor-suplementos{
    display: flex;
    padding: 20px;
}


footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 15px;
    width: 100%;
}
.redes{
    color: #5a37c3;
    font-size: 40px;
    background-color: black;
}
/*scroll-hehavior(desplazamientos*/
.subir{
    color: black;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: gold;
    position: fixed;
    right: 40px;
    bottom: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 0 10px white;
}
                                      /*referentes*/
body{
    background-color: #f7f7f2;
}
.txt-referentes{
    color: #0E1012;
    font-size: 20px;
    padding: 20px; 
    background-color: #f7f7f2;
    box-shadow: 0px 10px 10px;
}
.Titulo-rey{
    font-size: 40px;
    text-align: center;
    padding: 15px;
}
.contenedor-referentes{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: black;
    
}
.contenedor-referentes img{
    height: 500px;
    width: 400px;
    padding: 20px;
}


                                         /*dietas*/
.txt-dietas{
    color: black;
    font-size: 20px;
    padding: 15px;
    background-color: #eeeeee;
    box-shadow: 0px 10px 15px ;
}
.volumen{
    margin: 10px;
    color: black;
    font-size: 70px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
.txt-volumen{
    padding: 15px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.txt-volumen2{
    padding: 15px;
    color: black;
    font-size: 40px;
    text-decoration: underline;
}
.alimentos{
    margin: 10px;
}
.contenedor-alimentos{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,200px);
    background-color: #42288F;
    padding: 15px;
    grid-gap:20px
}
.alimento{
    background-position: center;
    background-size: cover;
    font-weight: bold;
    transition: all 0.9s;
    padding: 30px;
    
}
.capa1{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    opacity: 0;
    visibility: hidden; 
}
.contenedor-alimentos .alimento:hover >.capa1{
    opacity: 1;
    visibility: visible;
}
.contenedor-alimentos .alimento .capa2{
    position: absolute;
    background: rgba(197, 202, 203, 0.6);
    text-align: center;
    width: auto;
    opacity: 0;
    visibility: hidden;  
}
.contenedor-alimentos .alimento:hover >.capa2{
    opacity: 1;
    visibility: visible;
}
.alimentos1{
    background-image:url(../multimedia/comida/chicken-breast-279849_1280.jpg);
}
.alimento:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
    text-align: right;
    box-shadow: 0px 15px 25px
}


.alimentos2{
    background-image: url(../multimedia/comida/pasta-3547078_1280.jpg);
}
.alimentos3{
    background-image: url(../multimedia/comida/salmon.jpg);
}
.alimentos4{
    background-image: url(../multimedia/comida/vegetables-1584999_1280.jpg);
}
.alimentos5{
    background-image: url(../multimedia/comida/barbecue-1239434_1280.jpg);
}
.definicion{
    margin: 10px;
    color: black;
    font-size: 70px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
.txt-definicion{
    margin: 10px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

@media (max-width: 576px){
    nav{
        display: block;
        font-size: 30px;
    }
    
    .logo{
        visibility: hidden;
    }
    h2{
        text-align: center;
    }
}